<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
    <div class="container">
        <nav class="bg-black border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{{ url_for('index') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">ClickSense</span>
                </a>  
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                    <div class="bg-black-800 rounded-lg px-4 py-2">
                        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg bg-black md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            
                            <li>
                                <a href="{{ url_for('analyse') }}" class="block py-2 px-3 bg-black text-white hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-blue-500">Analyse</a>
                            </li>
                            <li>
                                <a href="{{ url_for('login') }}" class="block py-2 px-3 bg-black text-white hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-blue-500">Login</a>
                            </li>
                            <li>
                                <a href="{{ url_for('register') }}" class="block py-2 px-3 bg-black text-white  hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-blue-500">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
  
        {% block content %}

        {% endblock %}
    
    </div>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/5c3a3d77-6fb6-469b-84f3-93e8aca5b986/webchat/config.js"defer></script>
</body>
</html>
