{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-md w-full bg-white p-8 rounded shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Login</h2>
            <form method="POST" id="login-form"> <!-- Ensure the form method is POST -->
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">{{ form.username.label() }}</label>
                    {{ form.username(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50", placeholder="Username") }}
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">{{ form.password.label() }}</label>
                    {{ form.password(class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50", placeholder="Password") }}
                </div>
                <div class="mb-4">
                    <button type="submit" id="login-btn" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Submit
                    </button>
                </div>
            </form>
            <div class="text-sm text-center">
                Don't have an account? <a href="{{ url_for('register') }}" class="font-medium text-blue-500 hover:text-blue-600">Register here</a>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('login-btn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        // Send login data to the server using fetch API
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        })
        .then(response => {
            if (response.ok) {
                // Login successful, redirect to the guide page
                window.location.href = "{{ url_for('guide') }}";
            } else {
                // Login failed, handle error
                console.error('Login failed');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
